<!DOCTYPE html>
<html>
  <head>
    <title>Guild Wars 2 Wallpaper Viewer</title>
    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{url_for('static', filename='css/notify.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div id="errMsg" class="error"></div>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script langauge="JavaScript" src="{{url_for('static', filename='js/notify.js') }}"></script>
	<br/>
	<br/>
	<table id="imgList" width="95%" class="table">
		<thead>
			<tr>
				<td>Preview</td>
				<td>Available Sizes</td>
			</tr>
		</thead>
		<tbody>
			<tr id="topRow">
				<td>Page and server side code written by <a href="http://github.com/jaegerpicker">Shawn Campbell</a></td><td>Please go <a href="https://github.com/jaegerpicker/Sample-Code/tree/master/twitterStyleNotifcationsWeb">here</a> to view the sample code. Click on my name for all of my sample code in github, including iOS, Android, and python server side code.</td>
			</tr>
			<tr id="bottomRow">
				<td><img src="{{url_for('static', filename='img/arenanet_logo.png')}}"></img></td><td>All images and other works here belong to Arena.net, I claim no rights over the images and content.</td>
			</tr>
		</tbody>
	</table>
  </body>
</html>