#alertmsg
{
	font-family:Arial,Helvetica,sans-serif;
    font-size:135%;
    font-weight:bold;
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333F31;
    height: 20;
    color: #F3FDED;
    font: 20px/40px arial, sans-serif;
    opacity: .9;
    display:none;
}
.alert
{
	background-color:#FEF1B5;
}